.nav {
  background: #333;
  display: block;
  top: 100px;
  width: 150px;
  height: 100%;
  position: fixed;
  align-content: right;
}
.leftSelect {
  background: #999;
  display: block;
  top: 76px;
  width: 200px;
  height: 100%;
  position: fixed;
  align-content: right;
}

div.navDiv {
  padding: 0 10px;

}

.nav__link {
  color: #999;
  font-size: $m-size;
  padding-right: 5px;
  text-decoration: none;

}

.title {
  font-size: $l-size;
  justify-content: center;

}
.pageTitle {
  font-size: $l-size;
  margin: 0 0 0 350px;
  width: 100%;
}

.pageSubtitle {
  font-size: $m-size;
  margin: 0 0 0 360px;
  width: 100%;
}

@media (max-width: 45rem) {
  .nav {
    top: 80px;
  }
}